

body{
	font-family: 'century Gothic',calibri, serif;
font-size: 13px;
margin: 0px;
padding: 0px;
}
.main {
	width:99%;
	border-top:lime 5px solid;
}

h1{
	font-size: 40px;
	font-weight: normal;
	text-align:  center;

}
header{

	height: 100px:;
}

footer{
	height: 160px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5 ; 
	border-top:  2px solid #AAA; 
}

nav{
	width:  100%;
	background: #424558;
}

nav ul{
	margin:0px;
	padding: 0px;
}

nav li {
	list-style-type: none;
	float: left;
}

nav a {
	display:  inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
	text-transform:uppercase;
	font-size: 15px;
}

.table{
	display: table;
	margin: 0 auto;
}

.menu_1:hover{
	border-top: 5px solid lime;
	background-color: rgb(64,200,130,0,15);

}

nav li:hover a{
	padding: 15px 30px 20px 30px; 
}

.mePicFile{
	clip-path: circle(50%);
}
.container{
	text-align: center;
	color: navy;
	bottom: 100px;
}